.word-clamping {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-stats-wid {
  transition-duration: 0.2s;
  height: 114px;
}
.mini-stats-wid:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#sidebar-menu {
  background-color: #2a3042;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  width: calc(240px + 70px);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
  width: 240px;
}

.bottom-60{
  bottom: 55px;
}


.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #5bd63d;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}



*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 1170px;
  margin: 0 auto;
}


