{% extends 'adminpanel/base.html' %}

{% block title %}
Reset Password Sent
{% endblock %}

{% block content %}
{% include 'adminpanel/partial/navbar2.html'%}

<div class="loader_bg">
    <div class="loader"></div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col mt-5">

            <h3 class="mt-5">Password reset sent</h3>

            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.</p>

            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam folder.</p>
            
                <p>Not received email? <a href="{% url 'reset_password' %}" class="text-success">click here</a> for resend email. </p>
        </div>
    </div>
</div>
{% endblock %}