{% extends 'adminpanel/base.html'%}

{% block content %}
{% include 'adminpanel/partial/navbar2.html'%}

<br><br><br><br>
<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <h1 class="display-2 fw-medium">5<i class="bx bx-buoy bx-spin text-primary display-3"></i>0</h1>
                    <h3 class="text-uppercase">Something Went Wrong</h3>
                    <div class="mt-5 text-center">
                        <a class="btn btn-primary waves-effect waves-light" href="{% url 'admin_panel_home'%}">Back to
                            Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">

            </div>
        </div>
    </div>
</div>



{% endblock %}