{% extends 'adminpanel/base.html' %}

{% block title %}
Total Channel
{% endblock %} autocomplete="off"
{% block content %}

<div class="loader_bg">
    <div class="loader"></div>
</div>

{% include 'adminpanel/partial/navbar.html' %}
{% include 'adminpanel/partial/leftnavbar.html' %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid" id="container-div">
            {% if channels %}
            <div class="row" id="all-data-row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            
                            <div class="d-flex align-items-center">
                                <form action="{% url 'admin_panel_search_video_channel' %}" method="get"
                                    class="row gy-2 gx-3 align-items-center">
                                    <h4 class="card-title m-0 pe-4">All Channels</h4>

                                    <div class="col-sm-auto">
                                        <input type="text" class="form-control form-control-sm bg-light border-light rounded" id="id1"
                                            placeholder="title" name="channel_name" autocomplete="off">
                                    </div>

                                    <div class="col-sm-auto">
                                        <input type="text" class="form-control form-control-sm bg-light border-light rounded" id="id2"
                                            placeholder="created by" name="username" autocomplete="off">
                                    </div>

                                    <div class="col-sm-auto">
                                        <input type="date" class="form-control form-control-sm bg-light border-light rounded" id="id3"
                                            placeholder="created at" name="date" autocomplete="off">
                                    </div>

                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-success btn-sm" id="btn"
                                            hidden>search</button>
                                    </div>

                                </form>
                            </div>
                            <br>
                            <div class="table-responsive">

                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 20px">

                                            </th>
                                            <th class="align-middle">Sr#</th>
                                            <th class="align-middle">Title</th>
                                            <th class="align-middle">Created by</th>
                                            <th class="align-middle">Created at</th>
                                            <th class="align-middle">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">
                                        {% for c in channels %}
                                        <tr>
                                            <td>

                                            </td>
                                            <td>
                                                {{ forloop.counter0|add:channels.start_index}}
                                            </td>
                                            <td>
                                                <div class="word-clamping">{{c.name}}</div>
                                            </td>

                                            <td>{{c.profile.user.username}}</td>
                                            <td> {{c.created_at}}</td>

                                            <td>

                                                {% csrf_token %}
                                                <button type="button"
                                                    class="btn btn-danger  btn-rounded waves-effect waves-light btn-delete"
                                                    data-sid={{c.id}}>
                                                    <i class="bx bx-trash"></i>
                                                </button>
                                            </td>

                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            {% if channels %}
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination pagination-rounded justify-content-center align-items-center gap-1 mt-3 mb-4 pb-1">

                        {% if channels.has_previous %}
                        <li class="page-item ">
                            <a href="?page={{channels.previous_page_number}}" class="page-link"
                                onMouseOver="this.style.color='#0F0'" onMouseOut="this.style.color='#00F'"><i
                                    class="mdi mdi-chevron-left"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                        </li>
                        {% endif %}
                        <li class="page-item">
                            {{channels.number}}
                        </li>

                        <li class="page-item">
                            <span class="mx-2"> of </span>
                        </li>
                        <li class="page-item">
                            {{channels.paginator.num_pages}}
                        </li>

                        {% if channels.has_next %}
                        <li class="page-item">
                            <a href="?page={{channels.next_page_number}}" onMouseOver="this.style.color='#0F0'"
                                onMouseOut="this.style.color='#00F'" class="page-link"><i
                                    class="mdi mdi-chevron-right"></i></a>
                        </li>
                        {% else %}

                        <li class="page-item disabled">
                            <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% else %}
            <br><br><br><br>
            <h4 class="text-center">No Channel Yet</h4>
            {% endif %}
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script rel="javascript" type="text/javascript">
    $("tbody").on("click", ".btn-delete", function () {
        output = "";
        let id = $(this).attr("data-sid");

        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        mydata = { cid: id, csrfmiddlewaretoken: csrf }
        mythis = this;
        $.ajax({
            url: "{% url 'admin_panel_delete_video_channel' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                alert("Channel deleted successfuly!");


                if (data.status == 1) {
                    let my_element = $(mythis).closest("tr")
                    my_element.remove()

                }
                let myTbody = document.getElementById('table-body')
                if (myTbody.childElementCount == 0) {
                    let my_data_div = document.getElementById('all-data-row')
                    my_data_div.remove()

                    let container_div = document.getElementById('container-div')
                    let new_content = `<br><br><br><br><h4 class="text-center">No Channel Yet</h4>`
                    container_div.innerHTML = new_content
                }

            },

        })
    });


</script>


<script>
    let name = document.getElementById('id1');
    let username = document.getElementById('id2');
    let date = document.getElementById('id3');

    name.addEventListener('input', check)
    username.addEventListener('input', check)
    date.addEventListener('input', check)


    function check() {
        if (name.value == '' && username.value == '' && date.value == '') {
            document.getElementById("btn").setAttribute("hidden", '');
        }
        else {
            document.getElementById("btn").removeAttribute("hidden");
        }
    }
</script>
{% endblock %}