{% extends 'adminpanel/base.html' %}


{% block title %}
   Total Story
{% endblock %}
{% block content %}

<div class="loader_bg">
    <div class="loader"></div>
</div>

{% include 'adminpanel/partial/navbar.html' %}
{% include 'adminpanel/partial/leftnavbar.html' %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid" id="container-div">
            {% if profile_stories %}
            <div class="row" id="all-data-row" >
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                            <div class="d-flex align-items-center">
                                <form action="{% url 'admin_panel_search_profile_story' %}" method="get"
                                    class="row gy-2 gx-3 align-items-center">
                                    <h4 class="card-title m-0 pe-4">All Stories</h4>

                                    <div class="col-sm-auto">
                                        <input type="text" class="form-control form-control-sm bg-light border-light rounded" id="id1"
                                            placeholder="created by" name="username" autocomplete="off">
                                    </div>

                                    <div class="col-sm-auto">
                                        <input type="date" class="form-control form-control-sm bg-light border-light rounded" id="id2"
                                            name="date" autocomplete="off">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-success btn-sm" id="btn" hidden>search</button>
                                    </div>

                                </form>
                            </div>
                            <br>
                            <div class="table-responsive">

                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 20px">

                                            </th>
                                            <th class="align-middle">Sr#</th>
                                            <th class="align-middle">Title</th>
                                            <th class="align-middle">Created by</th>
                                            <th class="align-middle">Privacy</th>
                                            <th class="align-middle">Created at</th>
                                            <th class="align-middle">Media</th>
                                            <th class="align-middle">Delete</th>
                                            <th class="align-middle">View</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">
                                        {% for p in profile_stories %}
                                        <tr>
                                            <td>

                                            </td>
                                            <td>
                                         {{ forloop.counter0|add:profile_stories.start_index }}
                                            </td>
                                            <td> <div class="word-clamping">{{p.text}}</div></td>
                                            <td>{{p.profile.user}}</td>
                                            <td>{{p.privacy}}</td>
                                            <td>{{p.created_at}}</td>
                                            {% if p.media_image or p.media_video %}
                                            <td><i class="fa fa-check-circle mx-2 text-success
                                                "></i></td>
                                            {% else %}
                                            <td><i class="fa fa-times-circle mx-2 text-danger"></i></td>
                                            {% endif %}

                                            <td>
                                                <!-- Button trigger modal -->
                                                {% csrf_token %}
                                                <button type="button"
                                                    class="btn btn-danger btn-rounded waves-effect waves-light btn-delete"
                                                    data-sid={{p.id}}>
                                                    <i class="bx bx-trash"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <!-- Button trigger modal -->
                                                <button type="button"
                                                    class="btn btn-primary btn-rounded waves-effect waves-light btn-view" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal{{p.id}}" data-sid={{p.id}}>
                                                    <i class="fas fa-eye "></i>
                                                </button>
                                            </td>
                                        </tr>


                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{p.id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Story</h5>
                                                        <button type="button" class="btn-close modal-close-cstm" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% if p.text and p.media_video %}

                                                        <p id="textid"  align="justify">{{p.text}}</p>
                                                        <video src="{{s3_bucket_link}}{{p.media_video}}" width="100%" height="400px" class="modal-close-video" controls></video>

                                                        {% elif p.text and p.media_image %}

                                                        <p id="textid" align="justify">{{p.text}}</p>
                                                        <img src="{{s3_bucket_link}}{{p.media_image}}" alt="" width="100%" height="400px" height="450px">

                                                        {% elif p.media_video %}

                                                        <video src="{{s3_bucket_link}}{{p.media_video}}" width="100%" height="400px" class="modal-close-video" controls></video>

                                                        {% elif p.media_image %}

                                                        <img src="{{s3_bucket_link}}{{p.media_image}}" alt="" width="100%" height="400px">

                                                        {% else %}
                                                        <hp id="textid" align="justify">{{p.text}}</p>

                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <br> <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            {% if profile_stories %}
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination pagination-rounded justify-content-center align-items-center gap-1 mt-3 mb-4 pb-1">

                        {% if profile_stories.has_previous %}
                        <li class="page-item ">
                            <a href="?page={{profile_stories.previous_page_number}}" class="page-link"
                                onMouseOver="this.style.color='#0F0'" onMouseOut="this.style.color='#00F'"><i
                                    class="mdi mdi-chevron-left"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                        </li>
                        {% endif %}
                        <li class="page-item">
                            {{profile_stories.number}}
                        </li>

                        <li class="page-item">
                            <span class="mx-2"> of </span>
                        </li>


                        <li class="page-item">
                            {{profile_stories.paginator.num_pages}}
                        </li>

                        {% if profile_stories.has_next %}
                        <li class="page-item">
                            <a href="?page={{profile_stories.next_page_number}}" onMouseOver="this.style.color='#0F0'"
                                onMouseOut="this.style.color='#00F'" class="page-link"><i
                                    class="mdi mdi-chevron-right"></i></a>
                        </li>
                        {% else %}

                        <li class="page-item disabled">
                            <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% else %}
            <br><br><br><br>
            <h4 class="text-center">No Story Yet</h4>
            {% endif %}
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script rel="javascript" type="text/javascript">
    $("tbody").on("click", ".btn-delete", function () {
        output = "";
        let id = $(this).attr("data-sid");
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        mydata = { pid: id, csrfmiddlewaretoken: csrf }
        mythis = this;
        $.ajax({
            url: "{% url 'admin_panel_delete_profile_story' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                alert("Story deleted successfuly!");
                if (data.status == 1) {
                    let my_element = $(mythis).closest("tr")
                    my_element.remove()

                }

                let myTbody = document.getElementById('table-body')
                if (myTbody.childElementCount == 0){
                    let my_data_div  = document.getElementById('all-data-row')
                    my_data_div.remove()

                    let container_div = document.getElementById('container-div')
                    let new_content = `<br><br><br><br><h4 class="text-center">No Story Yet</h4>`
                    container_div.innerHTML = new_content
                }

            },

        })
    });

$("tbody").on("click", ".btn-view", function () {
    output = "";
    let id = $(this).attr("data-sid");
    console.log(id)
    let csrf = $("input[name=csrfmiddlewaretoken]").val();
    mydata = { pid: id, csrfmiddlewaretoken: csrf }
    mythis = this;
    $.ajax({
        url: "{% url 'admin_panel_single_profile_story' %}",
        method: "POST",
        data: mydata,
        success: function (data) {
            $("textid").val(data.text)
            $("mediaid").val(data.media)
        },

    })
});


let close_btn = document.querySelectorAll('.modal-close-cstm');
    let modal_video = document.querySelectorAll('.modal-close-video')

    close_btn.forEach((btn,i)=>{
        btn.addEventListener('click',function(){
            modal_video[i].pause();
    })
    })

</script>


<script>
    let name=document.getElementById('id1');
    let date=document.getElementById('id2');

    name.addEventListener('input',check)
    date.addEventListener('input',check)

    function check(){
        if(name.value == '' && date.value == ''){
            document.getElementById("btn").setAttribute("hidden",'');
        }
        else{
            document.getElementById("btn").removeAttribute("hidden");
        }
    }
</script>
{% endblock %}

